@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f6f7;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.section-container {
  width: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
}

.animate {
  transition: all ease-in-out 0.1s;
}
